# -----------------------------
# Dev container / editor
# -----------------------------
.devcontainer/
.vscode/

# -----------------------------
# Python env (recreated by uv sync)
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Data / artifacts (your project specific)
# -----------------------------
export/
other/
source_data/
arc/

# -----------------------------
# Notebook junk
# -----------------------------
**/.ipynb_checkpoints/
*.nbconvert.ipynb

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo

# -----------------------------
# Logs / temp
# -----------------------------
*.log
tmp/

# -----------------------------
# Credentials (safety)
# -----------------------------
*.json

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db
